{{- $page := .page -}}
{{- with .item -}}
{{- $active := eq . $page -}}
<li class="sidebar-item{{ if $active }} active" aria-current="true{{ end }}">
{{- if .IsSection }}
  {{- $slug := anchorize .RelPermalink }}
  <button type="button" class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#{{ $slug }}" aria-expanded="true" aria-controls="{{ $slug }}">
    {{- partial "sidebar/icon" . }}</button>
  {{ partial "sidebar/link" (dict "item" . "active" $active) }}
  <ul id="{{ $slug }}" class="collapse show">
  {{- range sort .Pages "Title" -}}
    {{ partial "sidebar/item" (dict "item" . "page" $page) }}
  {{- end }}
  </ul>
{{- else }}
{{ partial "sidebar/icon" . }}
{{ partial "sidebar/link" (dict "item" . "active" $active) }}
{{- end }}
</li>
{{- end -}}