.code-block {
  display: flex;
  flex-direction: column;
  margin: .25em 0;
  
  .icon {
    width: var(--code-icon-size);
    height: var(--code-icon-size);
    background-color: var(--code-icon-color);
  }

  pre {
    margin: 0;
    padding: .25em;
  }
}

@include color-mode(dark) {
  .code-block {
    .icon {
      background-color: var(--code-icon-color);
    }
  }
}

p + .code-block {
  margin-top: -.8rem;
}

.code-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: .25em;
  border-bottom: 1px dashed $gray-600;

  abbr[title] {
    display: inline-block;
    margin-top: -.2em;
    text-decoration: none;
  }
}

.code-title {
  flex: 1 0 auto;
  margin: 0;
  padding: 0 .5em;
  color: $gray-400 !important;
}

.code-copy {
  display: none;
  width: var(--code-icon-size);
  height: var(--code-icon-size);
  border: none;
  background-color: var(--code-icon-color);
}

.code-copied {
  background-color: $green-500;
}

.code-copy-error {
  background-color: $red;
}
