.code-block {
  display: flex;
  flex-direction: column;
  margin: .25em 0;
  
  .icon {
    width: var(--code-icon-size);
    height: var(--code-icon-size);
    fill: var(--code-icon-color);
  }

  pre {
    margin: 0;
    padding: .25em;
  }
}

@include color-mode(dark) {
  .code-block {
    .icon {
      fill: var(--code-icon-color);
    }
  }
}

.code-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: .25em;
  border-bottom: 1px dashed $gray-600;
}

.code-title {
  flex: 1 0 auto;
  margin: 0;
  padding: 0 .5em;
  color: $gray-400 !important;
}

.code-copy {
  display: none;
  width: var(--code-icon-size);
  height: var(--code-icon-size);
  border: none;
  background-color: var(--code-icon-color);

  -webkit-mask-image: url('/icons/clipboard.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: 80%;

  mask-image: url('/icons/clipboard.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 80%;
}

.code-copied {
  background-color: $green-500;
  -webkit-mask-image: url('/icons/clipboard-check.svg');
  mask-image: url('/icons/clipboard-check.svg');
}

.code-copy-error {
  background-color: $red;
  -webkit-mask-image: url('/icons/clipboard-x.svg');
  mask-image: url('/icons/clipboard-x.svg');
}
