.footer {
  display: flex;
  flex: 0 0 var(--footer-height);
  flex-direction: row;
  height: var(--footer-height);
  font-size: .8rem;
  // border-top: 1px var(--bs-border-style) var(--bs-border-color);
  filter: contrast(40%);

  a {
    color: inherit;

    &:not(:hover) {
      text-decoration: none;
    }
  }

  .icon {
    filter: none;
  }
}

.acknowledgements {
  display: flex;
  flex-direction: row;

  @include media-breakpoint-up($collapse-breakpoint) {
    flex-direction: column;
  }

  .icon {
    margin-left: .5em;
  }
}

.crafted,
.powered-by,
.powered-by-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.crafted {
  .icon {
    flex: 0 0 auto;
  }
}

.crafted-title,
.powered-by-title {
  display: none;

  @include media-breakpoint-up($collapse-breakpoint) {
    display: inline-block;
    flex: 1 0 auto;
  }
}

.powered-by-list {
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}