h1:not(:first-of-type), h2 {
  margin-top: .5em;
}
h3, h4 {
  margin-top: .25em;
}
h5, h6 {
  margin-top: .1em;
}

#header {
  height: var(--header-height);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  flex-shrink: 0;
  z-index: 1000;
  padding: .25rem;

  nav {
    height: 100%;
  }
}

.search-bar {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
}