#header {
  height: var(--header-height);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  flex-shrink: 0;
  z-index: 1000;
  padding: .25rem;

  nav {
    height: 100%;
  }
}

.search-bar {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
}