.page-list {
  @include media-breakpoint-up($collapse-breakpoint) {
    -moz-column-count: 2;
    -moz-column-gap: 1em;
    -webkit-column-count: 2;
    -webkit-column-gap: 1em;
    column-count: 2;
    column-gap: 1em;
  }
}

.page-list-item {
  overflow-wrap: break-word;

  &::marker {
    color: $primary;
  }
}