.navbar {
  background-color: $light;
}

.navbar-brand {
  height: 100%;
  margin: 0;
  padding: 0;

  img {
    display: block;
    height: 100%;
  }
}

#navbar {
  .offcanvas-body {
    align-items: center;
  }
}