$collapse-breakpoint: 'md' !default;

.sidebar {
  @include media-breakpoint-up($collapse-breakpoint) {
    flex: 0 0 20%;
    width: 20%;
  }
}

#sidebar {
  display: flex;
  flex: auto;
  font-size: .9em;

  .offcanvas-body {
    flex: auto;
    flex-direction: column;
    flex-grow: 1;
  }
}

.sidebar-item {
  button {
    padding: 0;
  }
}

.sidebar-link.active {
  font-weight: bold;
}