$collapse-breakpoint: {{ site.Params.collapse_breakpoint | default "md" }};

// Header and footer
$header-height: calc(min(64px, 10vw));
$footer-height: 64px;

// Page lists
$pagination: {{ site.Params.pagination | default 50 }};
$page-list-item-height: 1.5em;

// Code blocks
$code-icon-size: 1.25em;
$code-icon-color: #6ea8fe;

// Colors
$color-mode-type: data;
$burgundy: #800020;
$body-bg: #fff;
$body-bg-dark: #222;
$primary: $burgundy;
$secondary: #666;
$dark: #303030;
$light: #ddd;
$navbar-dark-color: rgba(255, 255, 255, .5);
$headings-color: $burgundy;
$headings-color-dark: #CC0044;
// $blue: #004080;
$link-color: #003399;
$link-color-dark: #0088D2;
// $headings-color: $primary;
// $border-color: #444;

// Bootstrap
@import 'bootstrap/functions';
@import 'bootstrap/variables';
@import 'bootstrap/variables-dark';
@import 'bootstrap/maps';
@import 'bootstrap/mixins';
@import 'bootstrap/utilities';
@import 'bootstrap/root';
@import 'bootstrap/reboot';
@import 'bootstrap/type';
@import 'bootstrap/containers';
@import 'bootstrap/grid';
@import 'bootstrap/tables';
@import 'bootstrap/forms';
@import 'bootstrap/buttons';
@import 'bootstrap/transitions';
@import 'bootstrap/nav';
@import 'bootstrap/navbar';
@import 'bootstrap/pagination';
@import 'bootstrap/badge';
@import 'bootstrap/offcanvas';
@import 'bootstrap/helpers';
@import 'bootstrap/utilities/api';

// Custom styles
@import 'layout';
@import 'buttons';
@import 'header';
@import 'footer';
@import 'aside';
@import 'navbar';
@import 'sidebar';
@import 'toc';
@import 'list';
@import 'taxonomy';
@import 'highlight';
@import 'code';
@import 'resume';

:root {
  --header-height: #{$header-height};
  --footer-height: #{$footer-height};
  --pagination: #{$pagination};
  --page-list-item-height: #{$page-list-item-height};
  --code-icon-size: #{$code-icon-size};
  --code-icon-color: #{$code-icon-color};
  --powered-by-width: #{ {{ mul (len site.Data.powered_by) .8 }} }em;
}

.icon {
  display: inline-block;
  width: 1.1em;
  height: 1.1em;
  vertical-align: middle;
  background-color: black;
}

@include color-mode(dark) {
  .icon {
    background-color: $gray-500;
  }
}

{{- range $icon := resources.Match "icons/*.svg" }}
{{- $name := $icon.RelPermalink | path.BaseName }}
{{- $icon = $icon | minify }}
.icon-{{ $name }} {
{{- range $prefix := slice "-webkit-" "" }}
  {{ $prefix }}mask-image: url('{{ $icon.RelPermalink }}');
  {{ $prefix }}mask-size: 100%;
  {{ $prefix }}mask-repeat: no-repeat;
{{- end }}
}
{{- end }}

.icon-heart {
  fill: $burgundy !important;
  background-color: $burgundy !important;
}
