<!doctype html>
<html lang="{{ site.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{ site.Params.author.name }}">
  <title>{{ block "head_title" . }}{{ partial "head/title" . }}{{ end }}</title>
  {{ partialCached "head/favicon" . }}
  {{ partialCached "head/style" . }}
</head>
{{ block "body_tag" . }}<body>{{ end }}
  {{ partialCached "analytics" . }}
  {{ partial "header" . }}
  <div class="layout container-xxl">
    {{ block "left" . }}{{ partial "sidebar" . }}{{ end }}
    {{ block "main" . }}
    <main class="main">
      {{ block "title" . }}{{ partial "title" . }}{{ end }}
      {{ block "meta" . }}
      <section class="meta">
        {{- partial "taxonomy" "categories" -}}
        {{- partial "taxonomy" "tags" -}}
      </section>
      {{ end }}
      <section class="content" data-pagefind-body>
        {{ block "content" . }}{{ .Content }}{{ end }}
      </section>
    </main>
    {{ end }}
    {{ block "right" . }}{{ partial "toc" . }}{{ end }}
  </div>
  {{ partialCached "footer" . }}
  {{ partial "scripts" . }}
  {{ block "scripts" . }}{{ end }}
</body>
</html>
