{{- with site.Params.search -}}
{{- if .pagefind.enabled -}}
<div id="search"></div>
{{- else if .fuse.enabled -}}
<form id="search" class="d-flex" role="search" method="get" action="{{ .fuse.url }}">
  <div class="input-group">
    <input id="search-query" class="form-control" type="search" name="{{ .fuse.param }}" placeholder="Search" aria-label="Search" aria-describedby="search-submit">
    <button id="search-submit" class="btn btn-outline-secondary" type="submit" value="Search">{{ partialCached "icon" "search" }}</button>
  </div>
</form>
{{- end -}}
{{- end -}}