{{- $page := .page -}}
{{- $taxonomy := .taxonomy | printf "/%s" | site.GetPage -}}
{{- with $page.GetTerms .taxonomy -}}
{{- $page.Scratch.Set "has_meta" true -}}
<div class="taxonomy">
  <h6 class="taxonomy-title">{{ $taxonomy.Title }}:</h6>
  <ul class="taxonomy-list">
  {{- range . }}
    <li class="taxonomy-term"><a class="taxonomy-link badge rounded-pill text-bg-{{ .Params.color | default "light" }}" href="{{ .RelPermalink }}" title="{{ .Data.Singular }} “{{ .Title }}”">{{ .LinkTitle }}</a></li>
  {{- end }}
  </ul>
</div>
{{- end -}}
